<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>登录</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/base.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
		<link rel="shortcut icon" th:href="@{/favicon.ico}"/>
		<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

	</head>

	<body>
		<div class="content">
			<div class="tabs">
				<div class="img_bottom clearFix">
					<div class="login f_left active">
						<span>登录</span>
					</div>
					<div class="split f_left">
						<span>|</span>
					</div>
					<div class="register f_left">
						<span>注册</span>
					</div>
				</div>
			</div>
			<div class="_area _login">
				<!--<form th:action="@{/user/doLogin}" method="post">-->
				<form id="_login_form" method="post">
					<div class="">
						<input type="text" name="mobile" value="" placeholder="手机号码" />
					</div>
					<div class="">
						<input type="password" name="password" placeholder="登录密码" />
					</div>
					<div class="_sub">
						<input id="_login_submit" type="submit" value="登录"/>
					</div>
				</form>
			</div>
			<div class="_area _register">
				<form id="_register_form" method="post">
					<div class="">
						<input type="text" name="mobile" value="" placeholder="手机号码" />
					</div>
					<div class="">
						<input type="text" name="password" placeholder="设置密码" />
					</div>
					<div class="">
						<input type="text" name="realName" value="" placeholder="真实姓名" />
					</div>
					<div class="">
						<!--<input type="text" name="communityId" value="" placeholder="所属小区" />-->
						<select name="communityId">
							<option value ="1">樱花府第</option>
							<option value ="2">绿岛花园</option>
							<option value="3">吴越人家</option>
						</select>
					</div>
					<div class="_sub">
						<input id="_register_submit" type="submit" value="提交"/>
					</div>
				</form>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/js/login.js}"></script>
	</body>

</html>