body {
	background-image: url(../imgs/add_bg.png);
	background-repeat: no-repeat;
	/*background-position: center top;*/
	background-size: 100%;
}

/*input,textarea {
  border: 0;
  -webkit-appearance: none;
}*/

.box {
	width: 90%;
	height: 460px;
	/*border: 1px solid red;*/
	/*position: relative;*/
	/* left: 132px; */
	/*top: 207px;*/
	margin: 0 auto;
	margin-top: 160px;
	/* padding-top: 300px; */
	background: -webkit-linear-gradient(top, #552fde, rgba(56, 77, 230, 1));
	border-radius: 7px;
	box-shadow: #143EB6 0px 0px 13px;
	text-align: left;
	padding-top: 40px;
	/*margin-bottom: 50px;*/
}

._info{
	font-size: 21px;
	font-weight: bold;
	color: white;
	/*position: relative;
	left: 50px;
	top: 100px;*/
	/*padding-top: 50px;*/
	margin: 0 auto;
	letter-spacing: 4px;
	width: 85%;
}
._form{
	color: white;
	padding-top: 37px;
	margin: 0 auto;
	/*border: 1px yellow solid;*/
	width: 85%;
}
._inpu{
	margin-bottom: 28px;
	font-weight: normal;
	min-width: 278px;
	/*height: 58px;*/
}

span,
._inpu,
input{
	font-size: 16px;
	/*color: white;*/
}
span{
	/*font-weight: 600;*/
}
input[type=text]{
	width: 70%;
	/*float: right;*/
	border: 0;
	/*border-bottom: 3px #f1f1f173 solid;*/
	/*background-color: #2E6CDE;*/
	border-radius: 0;
	display: block;
	height: 23px;
	padding-left: 6px;
	border-radius: 3px;
}
input[type=radio]:after  {
    content: "";
    display:block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 14px;
    font-size: 16px;
    color: #fff;
    border: 2px solid red;
    background-color: #fff;
    box-sizing:border-box;
    position: relative;
    left: -2px;
}
input[type=radio]:checked:after  {
    content: "";
    transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0);
    -webkit-transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0);
    border: 4px solid blue;
}

input[type=submit]{
	display: block;
	width: 85%;
	height: 40px;
	border-radius: 50px;
	/*border: 1px solid red;*/
	margin: 0 auto;
	margin-top: 57px;
	background-color: #F9FAFC;
	color: #0D56BA;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 15px;
}

._sub_title {	
	display: block;
	width: 30%;
	min-width: 81px;
	height: 21px;
	line-height: 21px;
}


.radio{
    display: inline-block;
    position: relative;
    line-height: 18px;
    margin-right: 35px;
    cursor: pointer;
}
.radio input{
    display: none;
}
.radio .radio-bg{
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 5px;
    padding: 0;
    background-color: white;
    border-radius: 100%;
    vertical-align: top;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1) inset, 0 1px 4px rgba(0, 0, 0, 0.1) inset, 1px -1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s ease;
}
.radio .radio-on{
    display: none;
}
.radio input:checked + span.radio-on{
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 100%;
    background: #FFFFFF;
    top: 4px;
    left: 4px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3), 0 0 1px rgba(255, 255, 255, 0.4) inset;
    background-image: linear-gradient(rgba(65, 68, 228, 1) 0, rgba(65, 68, 228, 1) 100%);
    transform: scale(0, 0);
    transition: all 0.2s ease;
    transform: scale(1, 1);
    display: inline-block;
}

#_radios {
	text-align: center;
}
