/* ====== reset css ====== */

/*选中所有标签*/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	/*盒子从边框开始计算尺寸*/
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	/*清除点击高亮的效果*/
	-webkit-tap-highlight-color: transparent;
}

a {
	text-decoration: none;
}

input,
textarea {
	border: none;
	outline: none;
	resize: none;
	-webkit-appearance: none;
}


/* ======= common css ======== */

.clearFix::before,
.clearFix::after {
	content: "";
	display: block;
	visibility: hidden;
	height: 0;
	line-height: 0;
	clear: both;
}

.f_left {
	float: left;
}

.f_right {
	float: right;
}
html,
body {
	/*width: 100%;*/
	height: 100%;
	/*background-color: gray;*/
}
