<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>车辆管理系统</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/bases.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/commonn.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
		<!--<link rel="icon" href="data:image/ico;base64,aWNv">-->
	</head>
	<body>
		<div class="head_info">
			<span id="_name" th:text="${user.realName}">
				<!--祝小兵-->
			</span>
			<span id="_community" th:text="${user.communityName}">
				<!--樱花府第小区-->
			</span>
			<img th:src="@{/imgs/index_head.png}"/>
		</div>

		<div class="button">
			<div class="_text_big">录入</div>
			<span class="_text_normal">
				录入车辆信息
			</span>
			<div class="_toRec_bg"></div>
		</div>
		<div class="button but2">
			<div class="_text_big">记录</div>
			<span class="_text_normal2">
				查看车辆记录
			</span>
			<div class="_rec_bg">
				
			</div>
		</div>
		
		<div class="bottom">
		</div>
	</body>
</html>
