<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wiesen.parking.mapper.CarRecordMapper">

    <select id="queryByPlateOrPhone"
            parameterType="java.util.Map"
            resultType="com.wiesen.parking.entity.RecordPO">
        SELECT
          r.plate_number AS plateNumber,
          r.owner_name AS ownerName,
          r.owner_phone AS ownerPhone,
          r.type,
          r.reason,
          r.create_time AS recTime
        FROM
--           car_plate p,
          car_record r
        WHERE
        -- p.id = r.plate_id
         -- AND p.is_deleted = 0
         -- AND
         r.is_deleted = 0
        <if test="value != null and value != ''">
            AND (
            r.plate_number = #{value}
            OR r.owner_phone = #{value}
            )
        </if>
        <if test="communityId != null and communityId != ''">
            AND r.community_id = #{communityId}
        </if>
        ORDER BY r.create_time DESC
  </select>
</mapper>